h1, h2
	+druk
	text-transform: uppercase

h2
	max-width: 1273px
	line-height: 1.6em
	font-size: 2.7vw
	&.because
		max-width: 59vw

.descriptor
	+asm
	font-size: 32px
	margin-top: 25px
	max-width: 45vw
	line-height: 1.6em