---
title: Index page
---
{% import "data/data.html" as listItems %}
{% extends "layouts/_layout.html" %}
{% block content %}
{% include "partials/_loader.html" %}
<header class="header">
  <div class="container header__container">
    <div class="logo header__logo">{% include "partials/_logo.svg" %}</div>
    <h1 class="h1">
      <span class="h1__first-line purple">Привет!
        <span class="h1__emoji">{% include "partials/_wink.svg" %}</span>
      </span>
      <span class="h1__second-line">Мы — креативное </span>
      <span class="h1__third-line">агентство <span class="purple">emotiON</span></span>
    </h1>
    <div class="scroll-down">
      <div class="scroll-down__text">Скрольте<br>вниз</div>
      {% include "partials/_arrow.svg" %}
    </div>
    {{mixins.social('header__social')}}
  </div>
</header>
<main>
  <section class="section">
    <div class="container section__container">
      <div class="arrow-block">
        <div class="arrow-block__left">
          <div class="arrow-block__arrow-circle arrow-circle-mob-hidden">
            {% include "partials/_big-arrow.html" %}
          </div>
        </div>
        <div class="arrow-block__right">
          <p class="arrow-block__p"><span class="purple">Карантин</span> и финансовый кризис вынуждает бизнес уйти в
            <span class="purple">онлайн.</span></p>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container zero-right-padding section__container section__container--last">
      <h2 class="h2 because">Поэтому, <span class="purple">компаниям</span> и&nbsp;<span class="purple">брендам</span> сейчас нужно:</h2>
      <ul class="list-items with-padding">
        {% for text in listItems.listItem1 %}
        <li class="list-items__item">
          <div class="list-items__line list-items__line--before"></div>
          <span class="list-items__text">{{text.title}}</span>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  <div class="black-block">
    <div class="container">
      <p class="black-block__big-p"><span class="purple">Знаем, что</span> сейчас нужно оплачивать зарплату сотрудникам, удерживать клиентов, сохранять месячный&nbsp;оборот, и <span class="purple">вы НЕ хотите тратить деньги на бесполезные&nbsp;вещи.</span></p>
    </div>
  </div>
  <section class="section">
    <div class="container section__container">
      <div class="arrow-block arrow-block-reverse">
        <div class="arrow-block__left">
          <div class="arrow-block__arrow-circle">
            {% include "partials/_big-arrow.html" %}
          </div>
        </div>
        <div class="arrow-block__right">
          <p class="arrow-block__p">Мы сделаем <span class="purple">MVP<span class="question"></span></span> одностраничного сайта для вашего бизнеса <span class="purple">за&nbsp;7 дней и&nbsp;$500</span></p>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container zero-right-padding section__container">
      <h2 class="h2 because">Почему <span class="purple">MVP от emotiON это круто</span> и&nbsp;выгодно?</h2>
      <p class="descriptor">Мы берём на себя ответственность, что вы получите ТОП-продукт за свои деньги.</p>
      <ul class="list-items">
        {% for text in listItems.listItem2 %}
        <li class="list-items__item">
          <div class="list-items__line list-items__line--before"></div>
          <div class="list-items__text-wrapper">
            {% include "partials/_big-arrow.html" %}
            <span class="list-items__text">{{text.title|safe}}</span>
          </div>
        </li>
        {% endfor %}
      </ul>
      {{mixins.btn('Больше преимуществ', 'advantages-button')}}
    </div>
  </section>
  <section class="section">
    <div class="container zero-right-padding section__container section__container--last">
      <h2 class="h2 because">План действий</h2>
      <p class="descriptor">Чтобы создать ракету-пушку, мы будем работать вместе — вы&nbsp;хорошо знаете свой бизнес и&nbsp;расскажете нам о важных моментах.</p>
      <div class="items-and-btn-wrapper">
        <ul class="list-items with-padding">
          {% for text in listItems.listItem3 %}
          <li class="list-items__item">
            <div class="list-items__line list-items__line--before"></div>
            <span class="list-items__text">{{text.title}}</span>
          </li>
          {% endfor %}
        </ul>
        {{mixins.btn('Важные моменты', 'plan-button')}}
      </div>
    </div>
  </section>
  <div class="black-block">
    <div class="container">
      <h2>Нам не всё равно, что <span class="purple">экономика страны катится вниз</span></h2>
      <p class="black-block__p">Поэтому мы хотим помочь украинскому бизнесу <span class="purple">уйти в отрыв во время кризиса</span>, не тратя на это много денег. Без потери качества и с вау-эффектом.</p>
    </div>
  </div>
  <div class="section portfolio-block">
    <div class="container section__container section__container--last">
      {{mixins.btn('Наше <br>портфолио', 'portfolio-button')}}
    </div>
  </div>
</main>
<footer class="footer">
  <div class="container">
    <h2>Здесь должен быть <span class="purple">call to action?</span> К&nbsp;чёрту чепуху, не будем терять время</h2>
    <p class="footer__call-to-action">
      Просто давайте сейчас обсудим вашу задачу и начнём работать. <br>Пишите в любой удобный мессенджер или звоните:
      <br><span class="tel"><a href="tel:+380970422959">(097) 042 29 59</a></span>
      <span class="messengers">(<span><a target="_blank" href="https://t.me/Roman_Stets">Telegram</a></span>, <span><a href="viber://chat?number=+380970422959">Viber</a></span>)</span>
    </p>
    {{mixins.btn('Оставить <br>заявку', 'footer-button', 'white')}}
  </div>
  {{mixins.social('footer__social')}}
  <div class="footer__line">
    <div class="container">
      <a target="_blank" href="https://emotion-agency.com/">
        {% include "partials/_logo.svg" %}
      </a>
      <span class="moc-text">Какой-то умный текст на последок</span>
    </div>
  </div>
</footer>
{% endblock %}
