{% extends "layouts/_pop-ups-layout.html" %}
{% block content %}
	<h3>В стоимость входит:</h3>
	<ul class="pop-up-list">
		<li>Сайт создаём своими руками от А до Я: дизайн и вёрстка без шаблонов.</li>
		<li>Сначала брифование — потом структура и разработка.</li>
		<li>Контент: фотографии и видео предоставляются вами.</li>
		<li>Предоплата 50% до старта работ и 50% постоплата.</li>
		<li>Работаем без правок в дизайн, структуру и вёрстку. За $500 это выгодно, доверьтесь профессионалам. Пример со стоматологом приводить не нужно же?</li>
	</ul>
{% endblock %}