{% extends "layouts/_pop-ups-layout.html" %}
{% block content %}
	<ul class="pop-up-list">
		<li>Сайт створюємо своїми руками від А до Я: дизайн і розробка без шаблонів чи конструкторів.</li>
		<li>Спочатку спільна стратегічна сесія — потім структура та розробка сайту.</li>
		<li>Чекаємо від вас контент: фото та відео (якщо є). </li>
		<li>Передоплата 50% до старту робіт і 50% після фіналу. </li>
		<li>Працюємо без правок в дизайн та структуру. Довіртеся спеціалістам! Приклад зі стоматологом наводити не потрібно ж?</li>
	</ul>
{% endblock %}