{% extends "layouts/_pop-ups-layout.html" %}
{% block content %}
<p class="mvp-pop-up__p1"><span class="purple">MVP</span> — минимально жизнеспособный продукт. Такой сайт <span class="purple">дешёвый</span>, <span class="purple">быстрый</span> в реализации и помогает проверить вашу бизнес-идею <span class="purple">без лишних затрат.</span></p>
<p class="mvp-pop-up__p2">Он будет похож на этот сайт: <span class="purple">одна классная страница</span>, раскрывающая суть вашей услуги или продукта потенциальному клиенту. </p>
{% endblock %}


