{% set
listItem1 = [
	{
		title: 'быстро и дёшево запускать свои продукты в онлайне;'
	},
	{
		title: 'выделиться среди конкурентов, которые массово создают одинаковые сайты на конструкторах а-ля Тильда, Wix, Weblium или покупают шаблоны;'
	},
	{
		title: 'уйти в отрыв от конкурентов во время кризиса за счёт новых решений;'
	},
	{
		title: 'быстро изменить бизнес-модель, чтобы начать зарабатывать онлайн.'
	}
]
%}

{% set
listItem2 = [
	{
		title: 'Делаем сайт руками от А до Я. Без конструкторов и шаблонов, <span class="line-through">которыми пользуются ваши&nbsp;конкуренты.</span>'
	},
	{
		title: 'За $500 вы получаете MVP сайта от креативного агентства. Вы покупаете наш подход, идеи, опыт и&nbsp;навыки.'
	},
	{
		title: 'Сайт, на котором вы сейчас находитесь — MVP созданный за 7 дней. Он быстро грузится и работает на&nbsp;слабых устройствах.'
	}
]
%}

{% set
listItem3 = [
	{
		title: '1. Мы задаём вопросы о вашем бизнесе, чтобы создать структуру и прототип сайта.'
	},
	{
		title: '2. Находим ключевые смыслы и пишем тексты.'
	},
	{
		title: '3. Переносим тексты на дизайн-макеты.'
	},
	{
		title: '4. Верстаем сайт, чтобы он корректно работал во всех браузерах, как на ПК,
		так и мобайле.'
	},
	{
		title: '5. Тестируем, устанавливаем аналитику и переносим сайт на ваш хостинг. '
	}
]
%}
