{% set
listItem1 = [
	{
		title: 'швидко та дешево продавати продукти та послуги онлайн;'
	},
	{
		title: 'виділятися серед конкурентів, у яких однакові сайти на конструкторах Тільда, Wix, Weblium або шаблонах;'
	},
	{
		title: 'відірватися від конкурентів за рахунок креативних контент-рішень;'
	},
	{
		title: 'а щоб заробляти онлайн — треба бути краще, чим інші.'
	}
]
%}

{% set
listItem2 = [
	{
		title: 'Робимо сайт руками від А до Я. Без конструкторів і шаблонів, <span class="line-through">якими користуються ваші конкуренти.</span>'
	},
	{
		title: 'За $500 ви отримуєте MVP сайту від креативного агентства. Ви купуєте наш підхід, ідеї, досвід та навички.'
	},
	{
		title: 'Сайт, який ви зараз переглядаєте, створений за 7 днів. Він швидко завантажується та працює навіть на слабких пристроях.'
	}
]
%}

{% set
listItem3 = [
	{
		title: '1. Знаходимо сенси, пишемо тексти, розроблюємо прототип.'
	},
	{
		title: '2. Переносимо тексти на дизайн-макети.'
	},
	{
		title: '3. Робимо так, щоб сайт коректно працював у всіх браузерах (на ПК та смартфонах).'
	},
	{
		title: '4. Тестуємо, встановлюємо аналітику та переносимо сайт на ваш хостинг.'
	}
]
%}

{% set
cases = [
	{
		img: '1.jpg',
		title: 'KTL',
		desc: 'Сайт для компанії з організації залізничних перевезень',
		link: 'https://tk-ktl.org.ua/'
	},
	{
		img: '2.jpg',
		title: 'Kostetskyi',
		desc: 'Сайт для дизайнера Леоніда Костецького',
		link: 'https://lk.emotion-agency.com'
	},
	{
		img: '3.jpg',
		title: 'Bulbakh',
		desc: 'Сайт-візитка для архітектора та дизайнера Андрія Бульбаха',
		link: 'https://bulbakh.com'
	},
	{
		img: '4.jpg',
		title: 'TEK',
		desc: 'Корпоративний WOW-сайт для B2B постачальника електроенергії',
		link: 'https:/tek.energy'
	},
	{
		img: '5.jpg',
		title: 'Bali',
		desc: 'Сайт-візитка для організації з проведення турів на Балі',
		link: 'https://www.daytripbali.cc'
	},
	{
		img: '6.jpg',
		title: 'Greinplast',
		desc: 'Корпоративний сайт для дистриб’ютора будівельних матеріалів',
		link: 'https://greinplast.ua'
	}
]
%}